MerchantOfVenus/merchant.exe
SpeedTracker/speed.exe
SpeedTracker/data.txt
BaseConvert/hex.exe
CloneSheet/
SimpleCypher/a.exe
DnD_Dice/dnd.exe
DnD_BattleMap_Simple/map.exe
a.cpp
a.exe
DnD_Dice/SillyTonkaPunishment.txt
DnD_Dice/__pycache__
MafiaRoles/roles.txt
MafiaRoles/players.txt
